#af-view {
  .todo.ng-enter {
    opacity: 0;
    transform: translateX(200px);
  }

  .todo.ng-enter.todo.ng-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms;
  }

  .todo.ng-leave {
    opacity: 1;
    transform: translateX(0);
  }

  .todo.ng-leave.todo.ng-leave-active {
    opacity: 0;
    transform: translateX(200px);
    transition: all 500ms;
  }
}
